

section{
    padding:15px 0px;
}
h4{
    font-family: 'Satisfy', sans-serif;
    font-weight: bold;
    font-size: 32px;
}
.rounded-circle{
    margin-top: 50px;
}
#specials li{
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#specials{
    overflow: hidden;
}
.nav-pills .nav-link.active{
    background-color: white;
    margin-right: 3px solid black;
}
#specials .nav-link .active{
    color: black;
}
#events .container{
    background-image: url(./assets/fireworks.jpg);
    background-color: #0C0B0ACC;
}
.btn-warning{
    border-radius: 50px;
}
.galleryPicture{
    width: 250px;
    height: 200px;
    padding:2px; 
}
#gallery .d-block{
     padding-left: 85px;
}